@import "../variables"

// Links
// =============================================================================

a
  color: $primary

// Navbar
// =============================================================================

.logo-text:after
  content: '/data'
  display: block
  position: absolute
  font-size: .6em
  color: darken($primary, 20%)

// Layout
// =============================================================================

.main-header + *
  margin-top: 5.056em

// Buttons
// =============================================================================

.ac-btn.primary
  // background-color: $primary
  &:hover, &:focus, &:active
    background-color: #c53d51
