<h2>New organisation</h2>

<%= render "form.html", changeset: @changeset,
                        action: organisation_path(@conn, :create) %>

<%= link "Back", to: organisation_path(@conn, :index) %>
