/* This file is for your main application css. */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ea4d5e;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #ea4d5e;
}

.logo-wrap {
  text-transform: none;
	font-size: 20px;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=radio]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=password]:focus,
input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
    border-color: #ea4d5e;
}

.ac-btn,
input[type=submit],
input[type=reset],
input[type=button],
button {
    background-color: #ea4d5e;
}

.ac-btn:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover {
    background-color: #ea4d5e;
}

.ac-btn:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus,
button:focus,
.ac-btn:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:focus,
button:active,
.ac-btn:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:focus,
button:active {
    background-color: #c43d51;
}

.main-header.mh-transparent .actions-menu a,
.main-header.mh-transparent .ac-btn-alt.alt2 {
    border-color: #4de5ea !important;
}

.main-header,
.main-header a,
.main-header a i {
    color: #ea4d5e !important;
}

.main-header a:hover,
.main-header a:hover i,
.main-header a:focus,
.main-header a:focus i,
.main-header a:active,
.main-header a:active i {
    color: #c53d51 !important;
}

.main-header-right .actions-menu a,
.main-header-right .ac-btn-alt.alt2 {
    border-color: #ea4d5e;
}

.mobile-menu .ac-btn,
.mobile-menu .ac-btn:hover,
.mobile-menu .ac-btn:focus,
.mobile-menu .ac-btn:active {
    background-color: #ea4d5e;
}

.footer-widgets {
    color: #bababa;
}

.footer-sidebar .widget-title span:before {
    border-top-color: #ea4d5e;
}

.footer-wrap input[type=text]:focus,
.footer-wrap input[type=search]:focus,
.footer-wrap input[type=radio]:focus,
.footer-wrap input[type=tel]:focus,
.footer-wrap input[type=time]:focus,
.footer-wrap input[type=url]:focus,
.footer-wrap input[type=week]:focus,
.footer-wrap input[type=password]:focus,
.footer-wrap input[type=checkbox]:focus,
.footer-wrap input[type=color]:focus,
.footer-wrap input[type=date]:focus,
.footer-wrap input[type=datetime]:focus,
.footer-wrap input[type=datetime-local]:focus,
.footer-wrap input[type=email]:focus,
.footer-wrap input[type=month]:focus,
.footer-wrap input[type=number]:focus,
.footer-wrap select:focus,
.footer-wrap textarea:focus {
    border-color: #ea4d5e;
}

.footer-wrap .ac-btn,
.footer-wrap input[type=submit],
.footer-wrap input[type=reset],
.footer-wrap input[type=button],
.footer-wrap button {
    background-color: #ea4d5e;
}

.footer-wrap .ac-btn:hover,
.footer-wrap input[type=submit]:hover,
.footer-wrap input[type=reset]:hover,
.footer-wrap input[type=button]:hover,
.footer-wrap button:hover {
    background-color: #c53d51;
}

.footer-credits {
    background-color: #ffffff;
}

.footer-creds a,
.footer-creds a:hover,
.footer-creds a:focus,
.footer-creds a:active {
    color: #ea4d5e;
}

.logo-wrap {
  text-transform: none;
  font-size: 20px;
}

.main-header .main-header-btns .ac-btn-h {
  background-color: #ffffff;
  font-size: 20px;
}

.main-header-btns .ac-btn-h {
  top: -55%;
}
