@import "variables"

$amount: 80

a[class*="approach-type"], a[class*="focus"],
a[class*="target-audience"], a[class*="tech-type"]
  color: white !important
  &.muted
    background: darken(white, $amount) !important

a[class*="approach-type"]
  background: $teal !important
  &.muted
    background: desaturate($teal, $amount) !important

.category-header.approach-type,
.category-header.approach-type a
  color: $teal !important

a[class*="focus"]
  background: $blue !important
  &.muted
    background: desaturate($blue, $amount) !important

.category-header.focus,
.category-header.focus a
  color: $blue !important

a[class*="target-audience"]
  background: $purple !important
  &.muted
    background: desaturate($purple, $amount) !important

.category-header.target-audience,
.category-header.target-audience a
  color: $purple !important

a[class*="tech-type"]
  background: $orange !important
  &.muted
    background: desaturate($orange, $amount) !important

.category-header.tech-type,
.category-header.tech-type a
  color: $orange !important
