p 30 applicants said that their project would involve providing information, with 24 applications involving advice and 23 providing services. 11 of the organisations that are providing advice also said they were providing information, so there is overlap between the first two categories.

p While providing information was the most popular category, only one of the successful applications is using this approach. A smaller proportion of applications intending to provide information made it through to the longlisting stage that for advice or services.
