p We identified five major target audiences across the applications. Most applications related to providing a service to the organisations' beneficiaries directly, with 115 applications choosing this audience. 22 applications were aimed at professionals who work with those beneficiaries - e.g. teachers, care workers, health workers. Ten applications are aimed at the general public, nine at organisations and two at volunteers or campaigners. All of the successful applications work directly with beneficiaries.
