p Each application was tagged with the technology that was outlined in the application. This was a difficult judgement to make: the nature of many of the applications and the stage of their development meant that the specific technology to be used was often not clear or not yet decided. Many applications described their project in general terms as an "app" or "website", without going into specifics. In the case of those projects describing a website or app, no applicants mentioned specific technologies (eg languages, frameworks). In general, when using the word "app" applicants did not specifically mean a mobile phone app.
