<h2>Listing tags</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
<%= for tag <- @tags do %>
    <tr>
      <td><%= tag.name %></td>
      <td><%= tag.slug %></td>
      <td><%= tag.category %></td>
    </tr>
<% end %>
  </tbody>
</table>
